<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title>Return bike</title>
  <style>
    .header {
      height: 150px;
      background-color:  #efebe9;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 50px;
    }
    .logo {
      display: flex;
      align-items: center;
    }
    .text-1 {
      margin-left: 10px;
      font-size: 40px;
      color: rgb(35, 185, 35);
      font-weight: 750;
    }
    .logo > img, button, .return :hover {
      cursor: pointer;
    }
    .size-img-1 {
      height: 80px;
      width: 80px;
    }
    .size-img-2 {
      height: 50px;
      width: 50px;
    }
    .list-parking {
      padding: 10px;
      max-height: calc(100vh - 150px);
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .parking {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 24%;
      border: 1px solid gray;
      background-color: white;
      height: 29%;
      margin: 0.5%;
      padding: 10px;
    }
    .address-parking {
      margin-bottom: 5px;
      text-align: center;
    }
    .name-parking {
      font-weight: 750;
      text-align: center;
    }
    .details-parking {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .details-parking button {
      height: fit-content;
      padding: 3px 5px;
    }
    .avai-parking {
      margin-right: 30px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
        <div class="logo">
          <form action="/home" method="get">
            <button class="logo-btn" type="submit"><img class="size-img-1" src="images/logo.png" alt="logo"></button>
          </form>
            <div class="name-app text-1">EcoBike</div>
            <div class="text-1">|</div>
            <div class="text-1">Trả xe</div>
          </div>
    </div>
    <% if(error === true) { %> 
      <div class="error">Không có bãi xe nào trống vị trí để trả loại xe đang thuê</div>
    <% } else { %>
      <div class="list-parking">
          <% listAvalabilityParking.forEach((parking) => { %>
            <div class="parking">
              <div class="name-parking"><%= parking.name %></div>
              <div class="address-parking"><%= parking.address %></div>
              <div class="details-parking">
                <div class="avai-parking">
                  <div>
                      <strong></strong>
                  </div>
                  <div>
                    <strong>Xe đạp đơn:</strong>
                    <span><%= parking.numSingle - parking.numFreeSingle %></span>
                  </div>
                  <div>
                    <strong>Xe đạp đôi:</strong>
                    <span><%= parking.numCouple - parking.numFreeCouple %></span>
                  </div>
                  <div>
                    <strong>Xe đạp điện:</strong>
                    <span><%= parking.numElectric - parking.numFreeElectric %></span>
                  </div>
                </div>
                <form action="/payment" method="post">
                  <input type="hidden" name="parkingId" value=<%= parking.id %>>
                  <input type="hidden" name="bikeId" value=<%= bikeId %>>
                  <input type="hidden" name="totalRentBike" value=<%= totalRentBike %>>
                  <input type="hidden" name="type" value="return">
                  <button type="submit">Xác nhận trả xe</button>
                </form>
            </div>
            </div>
          <% }) %>
        </div>
      <% } %>
  </div>
</body>
</html>